/IRegresable.class
/Regres1.class
/Regres1Giperbola.class
/Regres1NonProportion1.class
/Regres1NonProportion2.class
/Regres1Parabola.class
/Regres1Proportion.class
/Regres1Sqrt.class
/Regres1Undepend.class
/Regres2.class
/Regres2Giperbola.class
/Regres2Linear.class
/Regres2Parabola.class
/RegresAnaliser$1.class
/RegresAnaliser.class
/RegresComponentListener.class
/RegresComponentListenerEventMulticaster.class
/RegresTesters.class
/TestForRegresAnaliser$1.class
/TestForRegresAnaliser.class
